@media (max-width: 768px) {
  .status-bar {
    /* padding: 14px 60px; */
    padding: 12px;
  }
  .footer {
    padding: 120px 40px;
    background: #0F213D;
    height: auto;
  }
}
@media (max-width: 1440px) {
  
  .status-bar {
    flex-direction: column;
    border: 1px solid red;
  }
  .status-bar-content {
    flex-direction: column;
  }
}
a.nav-brand {
  color: white !important;
}
.navbar .container {
  width: 100% !important;
  max-width: 1920px !important;
}